[submodule "frontend"]
	path = frontend
	url = https://github.com/Copper-Protocol/copper-network-interface
[submodule "smart-contracts"]
	path = smart-contracts
	url = https://github.com/Copper-Protocol/smart-contracts
[submodule "api"]
	path = api
	url = https://github.com/Copper-Protocol/api
